.heading,.option-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.heading{
    margin: auto auto 0;
    border-bottom:1px solid #4b5258;
    background-color: #1C2128;
    color:#cfd7dff4;
}


.booklet{
    display: flex;
    width: 100%;
    background-color: #181C24;
    margin:0 auto 0;
    justify-content: center;
    min-height: 32vw;
    &__body{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.option-panel{
    border-top:1px solid #4b5258;
    background-color: #1C2128;
    margin:0 auto auto;
    &__body{

    }
}