button{
    cursor: pointer;
}

#action{
    // padding: 0.5rem;
    height: 3.2vw;
    width: 6vw;
    background-color: #262b32;
    border:1px solid #4b5258;
    color:#cfd7dff4;
    border-radius:32px;
    transition: 0.32s ease;
    text-transform: uppercase;
    &:hover{
        background-color: #4b5258;
    }
}